@import '../../common/styles/variables';

@font-face {
  font-family: VarelaRound;
  font-style: normal;
  font-weight: 500;
  src: url('../../../assets/fonts/VarelaRound-Regular.ttf') format('truetype');
}

.componentWrapper {
  // background-color: springgreen;
  align-items: center;
  color: $primary-text;
  display: flex;
  flex-direction: column;
  font-family: 'VarelaRound';
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
